<template>
    <lightning-card>
        <div class="slds-m-around_small">
            <lightning-dual-listbox name="languages" label="Select recievers" source-label="Emails"
                selected-label="Selected" field-level-help="Select emails for sending anomaly report to"
                options={options} onchange={handleChange}>
            </lightning-dual-listbox>
        </div>
        <div class="slds-align_absolute-center" style="height:5rem">
            <lightning-button variant="brand" label="Send report" title="Send anomaly report to specified recievers"
                onclick={handleSendReport} class="slds-m-left_x-small" disabled={btnState}></lightning-button>
        </div>
    </lightning-card>
</template>